.footer {
    width: 100%;
    padding: 12px 0;
    color: #333;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.footer-copyright {
    margin: 0;
}

.footer-creators {
    margin-top: 5px;
}

.footer-link {
    color: #333;
    margin: 0 5px;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    content: '';
    background-color: #007bff;
    transition: width 0.3s ease, left 0.3s ease;
}

.footer-link:hover {
    color: #0056b3;
}

.footer-link:hover::after {
    width: 100%;
    left: 0;
}

@media (max-width: 600px) {
    .footer {
        padding: 10px 0;
    }

    .footer-link {
        margin: 0 3px;
    }
}