<section class="features">
    <h1> Our <span> Features </span></h1>
    <div class="container">
        <article class="feature" *ngFor="let feature of features; let i = index">
            <div class="top-container">
                <h2>{{ feature.title }}</h2>
                <p>{{ feature.description }}</p>
            </div>
            <div class="bottom-container">
                <img [src]="feature.image" alt="{{ feature.title }}" loading="lazy" />
            </div>
        </article>
    </div>
  </div>
</section>