<header class="sticky-top">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#" aria-label="Home">
                <img class="rounded-circle shadow" [src]="logoUrl" alt="Logo" height="80">
            </a>
            <span class="ms-2 h5">Smart Attendance System</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto">
                    <a *ngFor="let item of menuItems" class="nav-link" [routerLink]="item.link"
                        [routerLinkActive]="['active']" aria-current="page">
                        <i [class]="item.icon"></i>
                        {{ item.name }}
                    </a>
                    <button class="btn btn-outline-primary" (click)="sendalert()" aria-label="Login">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>