<header>
    <nav class="header-container">
        <section class="header-info">
            <section class="header-logo">
                <img [src]="logoPath" alt="Logo">
            </section>
            <section class="header-name">
                <h1>{{ name }}</h1>
            </section>
        </section>
        <section class="header-links">
            <ul *ngFor="let Link of LinkDetails">
                <li>
                    <a [href]="Link.URL"> {{Link.Name}} </a>
                </li>
            </ul>
        </section>
        <section class="header-btn">
            <button type="button" (click)="login()" aria-label="Login">
                Login
            </button>
        </section>
    </nav>
</header>