<section class="about-section bg-light position-relative py-5" role="complementary">
  <div class="container">
    <div class="row">
      <h2 class="title-large text-uppercase about-header mb-4">{{ pageTitle }}</h2>
      <article class="about-item d-flex flex-column-reverse flex-lg-row my-5" role="article">
        <div class="col-12 col-lg-6 bg-white d-flex justify-content-center align-items-center">
          <div class="content p-5 text-center">
            <h3 class="element-title text-uppercase about-subheader">{{ sectionTitle }}</h3>
            <div *ngFor="let desc of descriptions">
              <p class="text-justify about-description">{{ desc }}</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 bg-white">
          <div class="image-holder d-flex justify-content-center">
            <img [src]="imageUrl" alt="{{ pageTitle }}" class="about-image img-fluid custom-image">
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
